<div id="inner">
<div id="content">
	<h1>EESTEC AGH Kraków</h1>
	<br />
	
	<h2>Kim jesteśmy?</h2>
	<p>
		<strong>AGH Electrical Engineering and Computer Sciences Students&rsquo; Club</strong> to uczelniana organizacja studencka - apolityczna i non-profit - od lat prężnie działająca na Akademii G&oacute;rniczo-Hutniczej w Krakowie.
	</p>
	<p>
		Stanowimy lokalny komitet og&oacute;lnoeuropejskiej organizacji studenckiej <strong>EESTEC</strong>, stąd częściej używamy naszej nieoficjalnej nazwy - <strong>EESTEC AGH Krak&oacute;w</strong>.
	</p>
	<p>
		Na Uczelni istniejemy nieprzerwanie od 1998 roku i choć wywodzimy się z Koła Naukowego Elektronik&oacute;w, to od 2009 roku działamy już w pełni samodzielnie. Szczeg&oacute;lnie bliskie związki łączą nas ze studentami i władzami <strong>Wydziału Informatyki Elektroniki i Telekomunikacji</strong> oraz <strong>Wydziału Elektrotechniki, Automatyki, Informatyki i Inżynierii Biomedycznej</strong>.
	</p>
	<br />

	<h2>Do czego dążymy?</h2>
	<p>
		Będąc w EESTEC tworzymy organizację przełamującą bariery kulturowe, pozwalającą nawiązywać międzynarodowe przyjaźnie i dającą możliwość pracy w międzynarodowych projektach.
	</p>
	<p>
		Stawiamy na rozw&oacute;j młodych, aktywnych student&oacute;w kierunk&oacute;w elektrycznych i informatycznych - pomagamy im zdobyć wiedzę techniczną, poszerzyć swe horyzonty i rozwinąć cenne umiejętności miękkie.</p>
	<p>
		<strong>Wierzymy, że działając wsp&oacute;lnie - nie ma dla nas rzeczy niemożliwych! :)</strong>
	</p>

	<div class="imgwrapper">
		<%= image_tag("about_us/slideshow.png", alt: "slideshow") %>
	</div>
		
	<br />
	<h2>
		Jakie dajemy możliwości?</h2>
	<p>
		EESTEC to przede wszystkim doskonałe miejsce do poznania wielu pozytywnych, energicznych, otwartych os&oacute;b.
	</p>
	<p>
		Wsp&oacute;lnie realizujemy liczne projekty - zar&oacute;wno na poziomie lokalnym, jak i międzynarodowym (wszystkie skierowanie do student&oacute;w). Każdy z nich stanowi dla nas okazję do rozwinięcia umiejętności związanych z pracą w zespole, zarządzeniem czasem i ludźmi oraz skutecznym planowaniem działań.
	</p>
	<p>
		Działając w zespołach zdobwamy wiedzę z konkretnych dziedzin, np. z zakresu pozyskiwania środk&oacute;w finansowych albo publicznego przemawiania.
	</p>
	<br />
	<p>
		Swego rodzaju nagrodą za naszą aktywność w życiu EESTEC AGH Krak&oacute;w jest możliwość wyjazdu za granicę na warsztaty naukowo-techniczne oraz na wymiany studenckie. Organizują je inne komitety lokalne EESTEC, znajdujące się w całej Europie - od Helsinek po Ateny, od Lizbony po Ankarę! Każdy wyjazd to spos&oacute;b na poznanie &ldquo;od podszewki&rdquo; innych kultur i zobaczenie kawałka świata w nietuzinkowy spos&oacute;b, a do tego zapoznanie się z zagadnieniami inżynierskimi w nieco luźniejszej formie. Jak? Choćby konstruując pojazdy napędzane energią słoneczną, programując gry na Kinect czy też budując katapulty...
	</p>
	<p>
		R&oacute;wnież i my - tu, na AGH - organizujemy podobne międzynarodowe warsztaty tematyczne dla członków EESTEC z innych komitet&oacute;w. Możemy doświadczyć tej niesamowitej atmosfery nie opuszczając Krakowa!
	</p>	
	
	<div class="imgwrapper">
		<%= image_tag("about_us/eestec_europe_logo.png", alt: "eestec_europe_logo") %>
	</div>	
	<br />
	<hr />
	<br />
	
	<p><strong>Więcej informacji</strong> znajdziesz:
	<ul>
		<li>na oficjalnej stronie EESTEC International - <a href="http://eestec.net">eestec.net</a></li>
		<!--<li>w <a href="http://eestec.agh.edu.pl/res/EESTEC%20AGH%20Krak%f3w%20-%20broszura.pdf">broszurze EESTEC AGH Kraków</a></li>-->
	</ul>
	</p>
</div>	