<div id="slider">
 <%= image_tag("banner_rekrutacja.png", alt: "banner_rekrutacja", class: "slider", width: "100%") %>
  <h1>Witaj na stronie organizacji studenckiej EESTEC AGH Kraków!</h1>
  <p class="slider">
  	Jesteśmy międzynarodową, apolityczną, pozarządową, studencką organizacją non-profit, zrzeszającą europejskich studentów kierunków elektrycznych i informatycznych.
  </p>
</div>

<div id="inner">
	<div id="infostudent">
		<h1>Dla studenta</h1>
		<p class="info">
			Realizujemy projekty na szczeblu międzynarodowym i lokalnym. Gorąco zachęcamy wszystkich studentów do podnoszenia swoich kwalifikacji poprzez udział w naszych eventach.
		</p>
		<p class="info">
			Studentów Akademii Górniczo-Hutniczej zainteresowanych profilem działalności naszej organizacji zapraszamy do wstąpienia w nasze szeregi.
		</p>
	</div>
	<div id="infocompany">
		<h1>Dla firmy</h1>
		<p class="info">
			Organizowane przez nas projekty nie odbyłyby się bez pomocy firm zewnętrznych. Dzięki ich udziale i wsparciu jesteśmy w stanie dostarczyć warsztaty na najwyższym organizacyjnie i dydaktycznie poziomie.
		</p>
		<p class="info">
			Zapraszamy wszystkie firmy zainteresowane współpracą o kontakt.
		</p>
		<p class="info"><br /></p>
	</div>
</div>