<div id="header">
  <div class = "wrapper">
    <div id="logo">
      <a href="index.php"><%= image_tag("eestec2.png", alt: "eestec") %></a>
    </div>
    <div id="navigation">
      <ul id="menu">
        <li class="home"><a href="index.php">Główna</a></li>
        <li class="blog"><a href="#">Aktualności</a>
          <ul class="submenu">  
            <li><a href="blog.php">Z życia LC...</a></li>
            <li><a href="reports.php">Relacje z wyjazdów</a></li>
          </ul>
        </li>
        <li class="eestec"><a href="#">EESTEC</a>
          <ul class="submenu">
            <li><a href="about.php">O nas</a></li>
            <li><a href="groups.php">Grupy robocze</a></li>
          </ul>
        </li>
        <li class="members"><a href="#">Ludzie</a>
          <ul class="submenu">
            <li><a href="board.php">Zarząd</a></li>
            <li><a href="members.php">Członkowie</a></li>
            <li><a href="alumnus.php">Alumni</a></li>
          </ul>
        </li>
        <li class="projects"><a href="#">Projekty</a>
          <ul class="submenu">   
            <li><a href="tpa.php">Targi Projektów Akademickich</a></li>
            <li><a href="krakyournet.php">KrakYourNet</a></li>
            <li><a href="softskillsacademy.php">Soft Skills Academy</a></li>
            <li><a href="smart.php">Smart Energy</a></li>
            <li><a href="http://nordicsemi.eestec.pl/">Wykłady z Nordic Semiconductor</a></li>
            <li><hr /></li>
            <li><a href="kuznia.php">Kuźnia Przedsiębiorców</a></li>
            <li><a href="cashflow.php">Turniej CASHFLOW</a></li>
          </ul>
        </li>
        <li class="enrol"><a href="enrol.php">Dołącz do nas</a></li>
        <li class="contactform"><a href="contact.php">Kontakt</a></li>  
      </ul>  
    </div>
  </div>  
</div>